html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}
canvas {
  display: block;
}

.sidebar{
height: 100%;
width: 225px;
position: absolute;
left: 0;
top: 0;
background-color: lightgrey;
}

.kofi {
    position: fixed;
    left: 0;
    bottom: 0;
}